*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif ;
}

body {
    background-color: #ffffff;
    margin-left: 80px; /* Adjust this value based on your navbar height */
    display: flex;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}

.modal-container {
    pointer-events: none;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 68, 68);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.9); /* Start slightly smaller */
    z-index: 100;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
    transform: scale(1); /* Scale to normal size */
}
.modal{
    display: block;
    background-color: white;
    width: 600px;
    height: 650px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
}